---
- name: Validate required RHSM and user variables
  ansible.builtin.assert:
    that:
      - rhsm_sub_info is defined
      - rhsm_sub_info.state is defined and rhsm_sub_info.state | length > 0
      - rhsm_sub_info.activationkey is defined and rhsm_sub_info.activationkey | length > 0
      - rhsm_sub_info.org_id is defined and rhsm_sub_info.org_id | length > 0
      - rhsm_sub_info.syspurpose is defined
      - rhsm_sub_info.syspurpose.usage is defined and rhsm_sub_info.syspurpose.usage | length > 0
      - rhsm_sub_info.syspurpose.role is defined and rhsm_sub_info.syspurpose.role | length > 0
      - rhsm_sub_info.syspurpose.service_level_agreement is defined and rhsm_sub_info.syspurpose.service_level_agreement | length > 0
      - rhsm_sub_info.force_register is defined

      - default_redhat_user is defined
      - default_redhat_user.name is defined and default_redhat_user.name | length > 0
      - default_redhat_user.state is defined and default_redhat_user.state | length > 0
      - default_redhat_user.create_home is defined
      - default_redhat_user.shell is defined and default_redhat_user.shell | length > 0
      - default_redhat_user.password is defined and default_redhat_user.password | length > 0
      - default_redhat_user.update_password is defined

      - default_redhat_root is defined
      - default_redhat_root.name is defined and default_redhat_root.name | length > 0
      - default_redhat_root.state is defined and default_redhat_root.state | length > 0
      - default_redhat_root.create_home is defined
      - default_redhat_root.shell is defined and default_redhat_root.shell | length > 0
      - default_redhat_root.password is defined and default_redhat_root.password | length > 0
      - default_redhat_root.update_password is defined

      - ssh_authorized_keys is defined
      - ssh_authorized_keys | length > 0
      - ssh_authorized_keys[0].value is defined and ssh_authorized_keys[0].value | length > 0
    fail_msg: >
      One or more required variables for RHSM subscription, default user creation,
      root user account, or SSH authorized keys are missing or empty.
      Please verify your vars/main.yml.
  tags: validation

- name: Ensure Red Hat Subscription
  community.general.redhat_subscription:
    state: "{{ rhsm_sub_info.state }}"
    activationkey: "{{ rhsm_sub_info.activationkey }}"
    org_id: "{{ rhsm_sub_info.org_id }}"
    syspurpose:
      usage: "{{ rhsm_sub_info.syspurpose.usage }}"
      role: "{{ rhsm_sub_info.syspurpose.role }}"
      service_level_agreement: "{{ rhsm_sub_info.syspurpose.service_level_agreement }}"
      sync: "{{ rhsm_sub_info.syspurpose.sync }}"
    force_register: "{{ rhsm_sub_info.force_register }}"
  tags: rhsm

- name: Ensure standard user exists
  ansible.builtin.user:
    name: "{{ default_redhat_user.name }}"
    state: "{{ default_redhat_user.state }}"
    create_home: "{{ default_redhat_user.create_home }}"
    shell: "{{ default_redhat_user.shell }}"
    password: "{{ default_redhat_user.password }}"
    update_password: "{{ default_redhat_user.update_password }}"
  tags: user_setup

- name: Send the System SSH Configuration Files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: '0644'
  with_items:
    - { src: "files/ssh/00-default.conf", dest: "/etc/ssh/sshd_config.d/00-default.conf" }
    - { src: "files/ssh/10-ansible.conf", dest: "/etc/ssh/sshd_config.d/10-ansible.conf" }
    - { src: "files/ssh/sshd_config.txt", dest: "/etc/ssh/sshd_config" }
  tags: ssh_configs

- name: Send the User SSH Configuration Files
  ansible.builtin.template:
    src: "templates/20-default_user.j2"
    dest: "/etc/ssh/sshd_config.d/20-{{ default_redhat_user.name }}.conf"
    owner: root
    group: root
    mode: '0644'
  tags: ssh_configs

- name: Ensure the SSH Directory Exists
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  with_items:
    - { path: /root/.ssh, owner: root, group: root }
    - { path: /etc/skel/.ssh, owner: root, group: root }
    - { path: "/home/{{ default_redhat_user.name }}/.ssh", owner: "{{ default_redhat_user.name }}", group: "{{ default_redhat_user.name }}" }
  tags: ssh_dir

- name: RestartSSH
  ansible.builtin.systemd_service:
    name: sshd
    state: restarted
    enabled: true
  tags: restart_ssh

- name: Ensure Sudoers File Exists
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: '0440'
  with_items:
    - { src: templates/sudoers.j2, dest: "/etc/sudoers.d/010-ansible", name: "ansible" }
    - { src: templates/sudoers.j2, dest: "/etc/sudoers.d/020-{{ default_redhat_user.name }}", name: "{{ default_redhat_user.name }}" }
  tags: sudoers

- name: Make sure ROOT account isn't locked
  ansible.builtin.user:
    name: "{{ default_redhat_root.name }}"
    state: "{{ default_redhat_root.state }}"
    create_home: "{{ default_redhat_root.create_home }}"
    shell: "{{ default_redhat_root.shell }}"
    password: "{{ default_redhat_root.password }}"
    update_password: "{{ default_redhat_root.update_password }}"
  tags: root_setup

- name: Copy authorized_keys template to multiple destinations
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: '0644'
  with_items:
    - { src: templates/authorized_keys.j2, dest: '/root/.ssh/authorized_keys', owner: root, group: root }
    - { src: templates/authorized_keys.j2, dest: '/etc/skel/.ssh/authorized_keys', owner: root, group: root }
    - { src: templates/authorized_keys.j2, dest: "/home/{{ default_redhat_user.name }}/.ssh/authorized_keys", owner: "{{ default_redhat_user.name }}", group: "{{ default_redhat_user.name }}" }
  tags: ssh_keys

- name: Ensure SELinux is disabled
  ansible.posix.selinux:
    state: disabled
  tags: selinux
  when:
    - ansible_selinux is defined
    - (ansible_selinux.status | lower) != 'disabled'

- name: Ensure the firewall is stopped
  ansible.builtin.systemd_service:
    name: firewalld
    state: stopped
    enabled: false
  failed_when: false
  tags: firewall

- name: Disable IPv6
  ansible.posix.sysctl:
    name: "{{ item }}"
    value: 1
    state: present
    reload: true
  with_items:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6
  tags: ipv6

- name: SystemdUpdate
  ansible.builtin.systemd_service:
    daemon_reload: true
  tags: systemd

- name: Configure DNF to use IPv4
  ansible.builtin.lineinfile:
    path: /etc/dnf/dnf.conf
    line: 'ip_resolve=4'
    insertafter: '^\[main\]'
    owner: root
    group: root
    mode: '0644'
  tags: ipv4

- name: Remove Unwanted Packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: absent
  loop:
    - firewalld
    - firewalld-filesystem
    - python3-firewall
    - firefox
    - chromium
    - microsoft-edge-stable
  tags: remove_packages

- name: Kill the DNF Cache
  ansible.builtin.dnf:
    expire-cache: true
  tags: cache_killer

- name: Disable all repositories
  ansible.builtin.command:
    argv:
      - subscription-manager
      - repos
      - --disable=*
  register: disable_repos
  changed_when: disable_repos.rc == 0
  failed_when: disable_repos.rc != 0
  tags: disable_repos

- name: Enable required RHSM repos (idempotent)
  community.general.rhsm_repository:
    name: "{{ item }}"
    state: enabled
  loop:
    - "rhel-{{ ansible_distribution_major_version }}-for-x86_64-baseos-rpms"
    - "rhel-{{ ansible_distribution_major_version }}-for-x86_64-appstream-rpms"
    - "rhel-{{ ansible_distribution_major_version }}-for-x86_64-extensions-rpms"
    - "codeready-builder-for-rhel-{{ ansible_distribution_major_version }}-x86_64-rpms"
    - "rhel-{{ ansible_distribution_major_version }}-for-x86_64-supplementary-rpms"
    - "rhel-{{ ansible_distribution_major_version }}-for-x86_64-highavailability-rpms"
  loop_control:
    label: "{{ item }}"
  tags: redhat_repos

- name: Import required GPG keys
  ansible.builtin.rpm_key:
    state: present
    key: "{{ item }}"
  with_items:
    - https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}
    - https://download1.rpmfusion.org/free/el/RPM-GPG-KEY-rpmfusion-free-el-{{ ansible_distribution_major_version }}
    - https://download1.rpmfusion.org/nonfree/el/RPM-GPG-KEY-rpmfusion-nonfree-el-{{ ansible_distribution_major_version }}
  tags: gpg_keys

- name: Install Extra Repos
  ansible.builtin.yum_repository:
    name: "{{ item.name }}"
    description: "Extra Repos for RedHat {{ ansible_distribution_major_version }} - {{ item.name | upper }} Repo"
    baseurl: "{{ item.baseurl }}"
    gpgcheck: true
    gpgkey: "{{ item.gpgkey }}"
    enabled: true
    state: present
    countme: false
  loop:
    - name: epel
      baseurl: "https://dl.fedoraproject.org/pub/epel/$releasever/Everything/$basearch/"
      gpgkey: "https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ ansible_distribution_major_version }}"
    - name: rpmfusion-free-updates
      baseurl: "http://download1.rpmfusion.org/free/el/updates/{{ ansible_distribution_major_version }}/$basearch/"
      gpgkey: "file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-free-el-{{ ansible_distribution_major_version }}"
    - name: rpmfusion-nonfree-updates
      baseurl: "http://download1.rpmfusion.org/nonfree/el/updates/{{ ansible_distribution_major_version }}/$basearch/"
      gpgkey: "file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rpmfusion-nonfree-el-{{ ansible_distribution_major_version }}"
  loop_control:
    label: "{{ item.name }}"
  tags: extra_repos

- name: Rebuild the DNF Cache
  ansible.builtin.dnf:
    update_cache: true
  tags: rebuild_cache

- name: Install Default Software
  ansible.builtin.dnf:
    state: present
    name: "{{ item }}"
  loop:
    - usbutils
    - file
    - gnupg2
    - curl
    - autoconf
    - automake
    - cmake
    - dbus-daemon
    - dbus-glib
    - dbus-glib-devel
    - dbus-tools
    - bind-utils
    - bzip2
    - gcc
    - git
    - btop
    - jq
    - make
    - nfs-utils
    - nmap
    - screen
    - python3 # RHEL 10.x defaults to Python3.12
    - python3-devel
    - python3-libs
    - tar
    - tmux
    - tree
    - vim
    - wget
    - yum-utils
    - rsync
    - diffutils
    - binutils
  tags: software

- name: System Update # noqa package-latest
  ansible.builtin.dnf:
    name: '*'
    state: latest
  register: system_update
  tags: update

- name: Reboot
  ansible.builtin.reboot:
    msg: "Rebooting for configuration changes to take effect"
    connect_timeout: 5
    reboot_timeout: 600
  when: system_update.changed
  tags: reboot
...
