#jinja2: lstrip_blocks: True
Match User {{ default_redhat_user.name }}
    AllowAgentForwarding no
    AllowTcpForwarding yes
    MaxAuthTries 5
    MaxSessions 2
    PubkeyAuthentication yes
    AuthorizedKeysFile .ssh/authorized_keys
    PasswordAuthentication yes
    PermitEmptyPasswords no
    X11Forwarding no